* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
body {
  background-color: #070b0f;
  color: white;
}
/*btn*/
.cta-btn {
  background-color: green;
  padding: 5px 10px;
  width: 20%;
  margin: 10px 0;
  text-align: center;
  text-decoration: none;
  color: white;
}
.cta-btn-alt {
  background-color: red;
  padding: 5px 10px;
  width: 20%;
  outline: none;
  color: white;
  border: none;
}
/*btn end*/
/*Home*/
.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.container h1 {
  margin: 20px 0;
  backdrop-filter: blur(0px) saturate(180%);
  -webkit-backdrop-filter: blur(0px) saturate(180%);
  background-color: rgba(17, 25, 40, 0.75);
  /* border-radius: 12px; */
  border: 1px solid rgba(255, 255, 255, 0.125);
  padding: 10px 20px;
}
.img-container {
  text-align: center;
  background-color: aliceblue;
  color: black;
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
/*Home End*/

/*nav*/
.topnav {
  overflow: hidden;
  background-color: #333;
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(0px) saturate(180%);
  -webkit-backdrop-filter: blur(0px) saturate(180%);
  background-color: rgba(17, 25, 40, 0.75);
  /* border-radius: 12px; */
  border: 1px solid rgba(255, 255, 255, 0.125);
  padding: 10px;
}
.blog-btn {
  background-color: green;
  padding: 5px 10px;
}
.blog-btn:hover {
  background-color: #45a049;
}
.logout-btn {
  background-color: aquamarine;
  outline: none;
  border: none;
  padding: 7px 12px;
}
.logout-btn:hover {
  background-color: rgb(5, 148, 101);
}
.cta-img {
  border-radius: 50%;
  width: 50%;
}
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  /* padding: 14px 16px; */
  margin: 0 10px;
  text-decoration: none;
  font-size: 17px;
}

/*nav-end*/

/*Blogs Page*/
.blog-container {
  width: 80%;
  margin: 20px auto 0 auto;
}
.card {
  display: flex;
  justify-content: space-evenly;
  backdrop-filter: blur(0px) saturate(180%);
  -webkit-backdrop-filter: blur(0px) saturate(180%);
  background-color: rgba(17, 25, 40, 0.75);
  /* border-radius: 12px; */
  border: 1px solid rgba(255, 255, 255, 0.125);
  padding: 10px;
  margin: 40px 0 0 0;
}
.img-card {
  text-align: center;
  width: 30%;
}
.img-card img {
  width: 85%;
}
.content-card {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  width: 60%;
}
.content-card h2 {
  margin: 20px 0;
}
.content-card p {
  line-height: 23px;
  letter-spacing: 2px;
}
.single-content {
  line-height: 23px;
  letter-spacing: 2px;
}
/*Blogs page End*/

/*Add Blogs*/
input[type="text"],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

input[type="submit"] {
  background-color: #04aa6d;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}

input[type="submit"]:hover {
  background-color: #45a049;
}

.form-container {
  width: 70%;
  margin: 10px auto 0 auto;
}
.img-container span {
  font-weight: 900;
}
.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
}

.col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
.form-container {
  backdrop-filter: blur(0px) saturate(180%);
  -webkit-backdrop-filter: blur(0px) saturate(180%);
  background-color: rgba(17, 25, 40, 0.75);
  /* border-radius: 12px; */
  border: 1px solid rgba(255, 255, 255, 0.125);
  padding: 20px;
  margin-top: 20px;
}
/*Add Blogs End*/

/*Single Blog*/
.main {
  padding: 15px;
}
.single {
  display: flex;
  justify-content: space-between;
  width: 100%;
  backdrop-filter: blur(0px) saturate(180%);
  -webkit-backdrop-filter: blur(0px) saturate(180%);
  background-color: rgba(17, 25, 40, 0.75);
  /* border-radius: 12px; */
  border: 1px solid rgba(255, 255, 255, 0.125);
  padding: 10px 20px;
  margin: 15px 0 0 0;
}
.single-img {
  width: 30%;
}
.single-img img {
  width: 80%;
}
.single-content {
  width: 70%;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
}
.single-content h2 {
  margin: 5px 0;
}
.single-content h3 {
  margin: 12px 0;
}
/*Single Blog End*/
/*Footer*/
.footer {
  backdrop-filter: blur(0px) saturate(180%);
  -webkit-backdrop-filter: blur(0px) saturate(180%);
  background-color: rgba(17, 25, 40, 0.75);
  /* border-radius: 12px; */
  border: 1px solid rgba(255, 255, 255, 0.125);
  padding: 10px 20px;
  margin-top: 30px;
  text-align: center;
}
/*Footer End*/
/*box*/
/*box end*/
@media (max-width: 768px) {
  .hamburger {
    display: block;
  }
  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }
  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
  .nav-menu {
    position: fixed;
    left: -100%;
    top: 70px;
    gap: 0;
    flex-direction: column;
    background-color: #262626;
    width: 100%;
    text-align: center;
    transition: 0.5s;
  }
  .nav-item {
    margin: 15px 0;
  }
  .nav-menu.active {
    left: 0;
  }
  .card {
    flex-direction: column;
  }
  .single {
    flex-direction: column;
  }
  .single-img {
    width: 100%;
  }
  .single-img img {
    width: 100%;
  }
  .single-content {
    width: 100%;
  }
  .form-container {
    width: 90%;
  }
  .cta-img {
    width: 100%;
  }
}
/*AddBlogs*/
@media screen and (max-width: 600px) {
  .col-25,
  .col-75,
  input[type="submit"] {
    width: 100%;
    margin-top: 0;
  }
  .img-container {
    width: 70%;
    padding: 10px 0;
  }
  /*Blogs*/
  .img-card {
    width: 100%;
  }
  .content-card {
    width: 100%;
  }
  .content-card h2 {
    margin: 10px 0;
  }
  .cta-btn {
    width: 80%;
  }
  .cta-btn-alt {
    width: 80%;
  }
  .img-card img {
    width: 100%;
  }
}

/*Add Blogs End*/
